<div ng-controller="TierCtrl">

    <div class="well">
        <!-- <pre>{{filters|json}}</pre> -->
        Filter by:
        <ul class="list-inline">
            <li>Server:<br>
                <div class="btn-group">
                    <label class="btn btn-primary btn-sm" ng-model="filters.server" ng-click="updateFilter()" uib-btn-radio="'jp'">Japan</label>
                    <label class="btn btn-primary btn-sm" ng-model="filters.server" ng-click="updateFilter()" uib-btn-radio="'en'">Global</label>
                </div>
            </li>
            <li>Rarity<br>
                <div class="btn-group">
                    <label class="btn btn-primary btn-sm" ng-model="filters.sr" ng-click="updateFilter()" uib-btn-checkbox="true">SR</label>
                    <label class="btn btn-primary btn-sm" ng-model="filters.ssr" ng-click="updateFilter()" uib-btn-checkbox="true">SSR</label>
                    <label class="btn btn-primary btn-sm" ng-model="filters.ur" ng-click="updateFilter()" uib-btn-checkbox="true">UR</label>
                </div>
            </li>
            <li>Attribute</li>
            <li>Origin</li>
            <li>Skill</li>
            <li>Idol Group</li>
        </ul>
        Toggle:
        <ul class="list-inline">
            <li>
                <button class="btn btn-primary btn-sm" type="button" ng-click="idlz()">Idolized?</button>
            </li>
            <li>Rarity<br>
                <div class="btn-group">
                    <label class="btn btn-primary btn-sm" ng-model="filters.sr" ng-click="updateFilter()" uib-btn-checkbox="true">SR</label>
                    <label class="btn btn-primary btn-sm" ng-model="filters.ssr" ng-click="updateFilter()" uib-btn-checkbox="true">SSR</label>
                    <label class="btn btn-primary btn-sm" ng-model="filters.ur" ng-click="updateFilter()" uib-btn-checkbox="true">UR</label>
                </div>
            </li>
            <li>Attribute</li>
            <li>Origin</li>
            <li>Skill</li>
            <li>Idol Group</li>
        </ul>

    </div>

    <div ui-grid="uiGrid" ui-grid-pagination class="custom-grid"></div>

<ul uib-pagination total-items="uiGrid.totalItems" items-per-page="uiGrid.paginationPageSize" ng-model="uiGrid.paginationCurrentPage" class="pagination-sm" max-size=10 boundary-link-numbers="true" rotate="false"></ul>
