<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Sif-card-tiers by dreamsicl</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.1.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/custom.css">

        <script src="javascripts/app.js"></script>

        <meta name="viewport" content="width=device-width">
        <!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>Sif-card-tiers</h1>
            </header>
            <section ng-app="tierList">

                <div ng-controller="TierCtrl">
                    <p>
                        <pre>{{cards[2]|json}}</pre>

                    </p>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </div>

                                <input type="text" class="form-control" placeholder="Search for specific cards" ng-model="searchCards">

                            </div>
                        </div>
                    </form>

                    <div class="btn-group">
                        <label class="btn btn-primary btn-sm" ng-model="cardsBase" uib-btn-radio="'jp'">JP</label>
                        <div class="btn-group" uib-dropdown>
                            <label id="split-button" class="btn btn-primary btn-sm en-toggle" ng-model="cardsBase" uib-btn-radio="'en'">EN</label>

                            <!---<button type="button" class="btn btn-primary en-toggle-caret" ng-disabled="filters.server=='jp'" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li role="menuitem">
                                    <label class="btn btn-primary btn-sm" ng-model="filters.upcoming" ng-init="filters.upcoming=true" uib-btn-checkbox>
                                        <span class="glyphicon glyphicon-unchecked" ng-hide="{{filters.upcoming}}"></span>
                                        <span class="glyphicon glyphicon-check" ng-show="{{filters.upcoming}}"></span>
                                        Include upcoming cards?</label>
                                </li>
                            </ul>-->
                        </div>
                    </div>

                    <button class="btn-info" ng-click="getCards()">Get cards!</button>

                    <div class="btn-group">
                        <label class="btn btn-primary btn-sm" ng-model="filters.attribute" uib-btn-radio="'all'">All</label>
                        <label class="btn btn-primary btn-sm" ng-model="filters.attribute" uib-btn-radio="'smile'">Smile</label>
                        <label class="btn btn-primary btn-sm" ng-model="filters.attribute" uib-btn-radio="'pure'">Pure</label>
                        <label class="btn btn-primary btn-sm" ng-model="filters.attribute" uib-btn-radio="'cool'">Cool</label>
                    </div>

                    <div class="btn-group">
                        <label class="btn btn-primary btn-sm" ng-model="filters.ur" ng-init="filters.ur=true" uib-btn-checkbox>UR</label>
                        <label class="btn btn-primary btn-sm" ng-model="filters.sr" ng-init="filters.sr=true" uib-btn-checkbox>SR</label>
                    </div>

                    <label class="btn btn-primary btn-sm" ng-model="filters.idlz" ng-init="filters.idlz=false" uib-btn-checkbox="false">Idolized?</label>
                    <div class="btn-group">
                    <label class="btn btn-primary btn-sm" ng-model="filters.premium" ng-init="filters.premium=true" uib-btn-checkbox="true">Premium</label>
                        <label class="btn btn-primary btn-sm" ng-model="filters.promo" ng-init="filters.promo=true" uib-btn-checkbox="true">Promos</label>
                        <label class="btn btn-primary btn-sm" ng-model="filters.event" ng-init="filters.event=true" uib-btn-checkbox="true">Events</label>
                    </div>

                    <div class="btn-group">
                        <label class="btn btn-primary btn-sm" ng-model="filters.muse" ng-init="filters.muse=true" uib-btn-checkbox="true">μ's</label>
                        <label class="btn btn-primary btn-sm" ng-model="filters.aqours" ng-init="filters.aqours=false" uib-btn-checkbox="true">Aqours</label>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead ng-init="sort.reverse=false; sort.type='name'">
                            <tr>
                                <td ng-click="sortBy('name')">Card
                                    <span ng-show="sort.type == 'name' && !sort.reverse" class="glyphicon glyphicon-chevron-down"></span>
                                    <span ng-show="sort.type == 'name' && sort.reverse" class="glyphicon glyphicon-chevron-up"></span>
                                </td>
                                <td ng-click="sortBy('smile')">Smile
                                    <span ng-show="sort.type == 'smile' && !sort.reverse" class="glyphicon glyphicon-chevron-down"></span>
                                    <span ng-show="sort.type == 'smile' && sort.reverse" class="glyphicon glyphicon-chevron-up"></span>
                                </td>
                                <td ng-click="sortBy('pure')">Pure
                                    <span ng-show="sort.type == 'pure' && !sort.reverse" class="glyphicon glyphicon-chevron-down"></span>
                                    <span ng-show="sort.type == 'pure' && sort.reverse" class="glyphicon glyphicon-chevron-up"></span>
                                </td>
                                <td ng-click="sortBy('cool')">Cool
                                    <span ng-show="sort.type == 'cool' && !sort.reverse" class="glyphicon glyphicon-chevron-down"></span>
                                    <span ng-show="sort.type == 'cool' && sort.reverse" class="glyphicon glyphicon-chevron-up"></span>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="card in cards | orderBy:sortType:sortReverse | filter:!card.is_promo">
                                <td>
                                    <a href="{{website_url}}"><img src="{{filters.idlz || card.is_promo ? card.round_card_idolized_image : card.round_card_image}}" class="display-image" / pull-left>
                                        {{card.translated_collection}}
                                        {{card.idol.name}}
                                        <span ng-show="card.is_promo" class="glyphicon glyphicon-star"></span>
                                        <span ng-show="card.event" class="glyphicon glyphicon-heart"></span>
                                    </a>
                                </td>
                                <td>{{filters.idlz || card.is_promo ? card.idolized_maximum_statistics_smile : card.non_idolized_maximum_statistics_smile}}</td>
                                <td>{{filters.idlz || card.is_promo ? card.idolized_maximum_statistics_pure : card.non_idolized_maximum_statistics_pure}}</td>
                                <td>{{filters.idlz || card.is_promo ? card.idolized_maximum_statistics_cool : card.non_idolized_maximum_statistics_cool}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </section>
            <footer>
                <p>This project is maintained by
                    <a href="https://github.com/dreamsicl">dreamsicl</a>
                </p>
                <p>
                    <small>Hosted on GitHub Pages &mdash; Theme by
                        <a href="https://github.com/orderedlist">orderedlist</a>
                    </small>
                </p>
            </footer>
        </div>
        <script src="javascripts/scale.fix.js"></script>

    </body>
</html>
