<div class="table-responsive" id="tbl">
    <table class="table table-striped">
        <thead fsm-sticky-header scroll-body="#tbl" scroll-stop='0'>
            <tr style="background-color: #fff;overflow:auto">
                <th>Rank</th>
                <th class="num-header" ng-click="sortBy('id')">ID
                    <i ng-show="sort.desc && sort.type=='id'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.type=='id'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th>Card Name</th>
                <th class="num-header" ng-click="sortBy('smile')">Smile
                    <i ng-show="sort.desc && sort.gen=='smile'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.gen=='smile'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th class="num-header" ng-click="sortBy('pure')">Pure
                    <i ng-show="sort.desc && sort.gen=='pure'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.gen=='pure'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th class="num-header" ng-click="sortBy('cool')">Cool
                    <i ng-show="sort.desc && sort.gen=='cool'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.gen=='cool'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th class="num-header" ng-click="sortBy('cScore')">C-Score
                    <i ng-show="sort.desc && sort.type=='cScore'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.type=='cScore'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th class="num-header" ng-click="sortBy('oScore')">O-Score
                    <i ng-show="sort.desc && sort.type=='oScore'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.type=='oScore'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th class="num-header" ng-click="sortBy('skill.su')" ng-show="filters.compare=='sc'">Score Up
                    <i ng-show="sort.desc && sort.type=='skill.su'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.type=='skill.su'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th class="num-header" ng-click="sortBy('skill.pl')" ng-show="filters.compare=='pl'">PL Time
                    <i ng-show="sort.desc && sort.type=='skill.pl'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.type=='skill.pl'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th class="num-header" ng-click="sortBy('skill.pl_sis')" ng-show="filters.compare=='pl'">
                    <abbr title="School Idol Skill">SIS</abbr>
                    Bonus
                    <i ng-show="sort.desc && sort.type=='skill.pl_sis'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.type=='skill.pl_sis'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th class="num-header" ng-click="sortBy('skill.hl')" ng-show="filters.compare=='hl'">Avg. Heal
                    <i ng-show="sort.desc && sort.type=='skill.hl'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.type=='skill.hl'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
                <th class="num-header" ng-click="sortBy('skill.su_sis')" ng-show="filters.compare=='sc'||filters.compare=='hl'">
                    <abbr title="Score Up">SU</abbr>
                    w/
                    <abbr title="School Idol Skill">SIS</abbr>
                    <i ng-show="sort.desc && sort.type=='skill.su_sis'" class="glyphicon glyphicon-chevron-down"></i>
                    <i ng-show="!sort.desc && sort.type=='skill.su_sis'" class="glyphicon glyphicon-chevron-up"></i>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-if="cards.length==0">
                <td colspan=10><span class="text-danger">No cards found.</span>
                    <span ng-show="err.rarity || err.main || err.origin">Please select a(n):
                        <span ng-show="err.rarity">
                            <b>rarity</b>
                            (SR, SSR, UR)<span ng-show="err.rarity && (err.main || err.origin)">, </span><span ng-hide="err.rarity && (err.main || err.origin)">.</span>
                        </span>
                        <span ng-show="err.main"><b>main unit</b>
                            (μ's, Aqours)<span ng-show="err.main && err.origin">, </span><span ng-hide="err.main && err.origin">.</span>
                        </span>

                        <span ng-show="err.origin"><b>origin</b>
                            (Premium, Event, Promo).</span>
                        </span>
                    </span>
                    <span ng-hide="err.rarity || err.main || err.origin">Please check your search string and filters.</span>
                    <a ng-click="resetFilters()">Reset filters?</a>
                </td>
            </tr>
            <tr ng-repeat="card in cards| filter:search | orderBy:sort.type:sort.desc">
                <td>{{sort.desc ? $index+1 : cards.length - $index}}</td>
                <td>{{card.id}}</td>
                <td class="name-display"><img ng-src="{{filters.idlz || card.is_promo ? card.round_card_idolized_image : card.round_card_image}}" class="display-image">
                    <a href="{{card.website_url}}">
                        <i ng-if="card.skill.type=='Score Up'" class="fa fa-level-up" uib-tooltip="Score Up"></i>
                        <i ng-if="card.skill.type=='Healer'" class="fa fa-heart" uib-tooltip="Healer"></i>
                        <i ng-if="card.skill.type=='Perfect Lock'" class="fa fa-lock" uib-tooltip="Perfect Lock"></i>
                        <i ng-if="card.event" class="fa fa-star" uib-tooltip="Event Only"></i>
                        {{card.full_name}}</a>
                </td>
                <td ng-show="filters.idlz">
                    {{card.idolized_maximum_statistics_smile}}
                </td>
                <td ng-show="!filters.idlz">
                    {{card.non_idolized_maximum_statistics_smile}}
                </td>
                <td ng-show="filters.idlz">
                    {{card.idolized_maximum_statistics_pure}}
                </td>
                <td ng-show="!filters.idlz">
                    {{card.non_idolized_maximum_statistics_pure}}
                </td>
                <td ng-show="filters.idlz">
                    {{card.idolized_maximum_statistics_cool}}
                </td>
                <td ng-show="!filters.idlz">
                    {{card.non_idolized_maximum_statistics_cool}}
                </td>
                <td ng-show="filters.idlz">
                    {{card.cScore_idlz}}
                </td>
                <td ng-show="!filters.idlz">
                    {{card.cScore}}
                </td>
                <td ng-show="filters.idlz">
                    {{card.oScore_idlz}}
                </td>
                <td ng-show="!filters.idlz">
                    {{card.oScore}}
                </td>
                <td ng-show="filters.compare=='sc'">
                    {{card.skill.su |number:2}}
                </td>
                <td ng-show="filters.compare=='pl'">
                    {{card.skill.pl |number:2}}
                </td>
                <td ng-show="filters.compare=='pl' && filters.idlz">
                    {{card.skill.pl_sis_idlz |number:2}}
                </td>
                <td ng-show="filters.compare=='pl' && !filters.idlz">
                    {{card.skill.pl_sis |number:2}}
                </td>
                <td ng-show="filters.compare=='hl'">
                    {{card.skill.hl | number:2}}
                </td>
                <td ng-show="filters.compare=='sc'||filters.compare=='hl'">
                    {{card.skill.su_sis |number:2}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
