<thead fix-head>
  <tr ng-show="filtered.length!=0">
    <th>Rank</th>
    <th>Card Name</th>
    <th>Idolized?</th>
    <th class="num-header" ng-click="sortBy('id')">ID
      <i ng-show="sort.desc && sort.type=='id'" class="fa fa-chevron-down"></i>
      <i ng-show="!sort.desc && sort.type=='id'" class="fa fa-chevron-up"></i>
    </th>
    <th class="num-header" ng-click="sortBy('stat.display')">Stat
      <i ng-show="sort.desc && sort.type == 'stat.display'" class="fa fa-chevron-down"></i>
      <i ng-show="!sort.desc && sort.type == 'stat.display'" class="fa fa-chevron-up"></i>
    </th>
    </th>
    <th class="num-header" style="min-width:100px" ng-click="sortBy('skill.avg')">Skill (Avg)
      <i ng-show="sort.desc && sort.type=='skill.avg'" class="fa fa-chevron-down"></i>
      <i ng-show="!sort.desc && sort.type=='skill.avg'" class="fa fa-chevron-up"></i>
    </th>
    <th class="num-header" style="min-width:100px" ng-click="sortBy('skill.best')">Skill (Max)
      <i ng-show="sort.desc && sort.type=='skill.best'" class="fa fa-chevron-down"></i>
      <i ng-show="!sort.desc && sort.type=='skill.best'" class="fa fa-chevron-up"></i>
    </th>
    <th style="min-width: 90px">Activated By
    </th>
    <th class="num-header" style="min-width:100px" ng-click="sortBy('stat.avg')">Stat + Skill (Avg)
      <i ng-show="sort.desc && sort.type=='stat.avg'" class="fa fa-chevron-down"></i>
      <i ng-show="!sort.desc && sort.type=='stat.avg'" class="fa fa-chevron-up"></i>
    </th>
    <th class="num-header" style="min-width:100px" ng-click="sortBy('stat.best')">Stat + Skill (Max)
      <i ng-show="sort.desc && sort.type=='stat.best'" class="fa fa-chevron-down"></i>
      <i ng-show="!sort.desc && sort.type=='stat.best'" class="fa fa-chevron-up"></i>
    </th>
  </tr>
</thead>
