<div class="container-fluid row">
  <div class="col-xs-2" id="filters-md-screens">
    <div class="row">

      <!-- <div class="col-xs-12 no-padding">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" style="cursor: pointer" popover-append-to-body="true" popover-placement="top-left" uib-popover="Terms include: girl, attribute, skill type, main unit, subunit, and English schoolido.lu set name.">
                          <i class="fa fa-search"></i>
                      </span>
          <input type="text" class="form-control" ng-model="search" ng-change="updateSearch()" placeholder="search by card" uib-typeahead="type for type in $root.Typeahead | filter:$viewValue | limitTo:8">
        </div>
      </div> -->

      <div class="btn-group-vertical col-xs-12" uib-tooltip="Skill" tooltip-placement="top">
        <label class="btn btn-success btn-sm" ng-model="filters.su" ng-click="filterCards()" uib-btn-checkbox>Score Up</label>
        <label class="btn btn-success btn-sm" ng-model="filters.pl" ng-click="filterCards()" uib-btn-checkbox>Perfect Lock</label>
        <label class="btn btn-success btn-sm" ng-model="filters.hl" ng-click="filterCards()" uib-btn-checkbox>Healer</label>
      </div>

      <div class="btn-group btn-group-justified">
        <label class="btn btn-danger btn-sm" ng-click="resetFilters()">Reset Filters</label>
      </div>

      <div class="btn-group-vertical col-xs-12">
        <label class="btn btn-default btn-sm" ng-model="filters.displayImg" ng-click="setLocalStorageFilters()" uib-btn-checkbox>Display images?</label>
        <label class="btn btn-default btn-sm" ng-click="idlzAll()">Idolize all cards?</label>
      </div>

      <div class="col-xs-12 no-padding" style="margin-bottom: 10px;">
        <div class="levels text-center">Set all skill lvls:</div>
        <br/><input type="number" class="form-control input-sm nopadding" style="border-radius: 0px 0px 3px 3px" name="skill_lvls" ng-model="lvl" ng-change="updateSkillLevels()" ng-min="1" ng-max="8" min="1" max="8"/>
      </div>

      <div uib-tooltip="Attribute" tooltip-placement="top">
        <div class="btn-group btn-group-justified col-xs-12 no-padding" style="margin-bottom:0px">
          <label class="btn btn-info btn-sm" style="border-bottom-left-radius:0" ng-model="filters.attribute" ng-click="filterCards()" uib-btn-radio="'all'">All</label>
          <label class="btn btn-info btn-sm" style="border-bottom-right-radius:0" ng-model="filters.attribute" ng-click="filterCards()" uib-btn-radio="'smile'">Smile</label>
        </div>

        <div class="btn-group btn-group-justified col-xs-12 no-padding">
          <label class="btn btn-info btn-sm" style="border-top-left-radius:0" ng-model="filters.attribute" ng-click="filterCards()" uib-btn-radio="'pure'">Pure</label>
          <label class="btn btn-info btn-sm" style="border-top-right-radius:0" ng-model="filters.attribute" ng-click="filterCards()" uib-btn-radio="'cool'">Cool</label>
        </div>
      </div>

      <div class="btn-group btn-group-justified col-xs-12" uib-tooltip="Rarity" tooltip-placement="top">
        <label class="btn btn-info btn-sm" ng-model="filters.sr" ng-click="filterCards()" uib-btn-checkbox>SR</label>
        <label class="btn btn-info btn-sm" ng-model="filters.ssr" ng-click="filterCards()" uib-btn-checkbox>SSR</label>
        <label class="btn btn-info btn-sm" ng-model="filters.ur" ng-click="filterCards()" uib-btn-checkbox>UR</label>
      </div>

      <div class="btn-group btn-group-justified col-xs-12" uib-tooltip="Main unit" tooltip-placement="top">
        <label class="btn btn-info btn-sm" ng-model="filters.muse" ng-click="filterCards()" uib-btn-checkbox>Muse</label>
        <label class="btn btn-info btn-sm" ng-model="filters.aqours" ng-click="filterCards()" uib-btn-checkbox>Aqours</label>
      </div>

      <div class="btn-group btn-group-dropdown dropup col-xs-12 no-padding" style="margin-bottom: 10px;" uib-dropdown>
        <button type="button" class="btn btn-sm btn-info name">Origin</button>
        <button type="button" class="btn btn-sm btn-info drop" uib-dropdown-toggle>
                    <span class="caret"></span>
                </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem">
            <a ng-model="filters.premium" ng-click="filterCards()" uib-btn-checkbox>Premium</a>
          </li>
          <li role="menuitem">
            <a ng-model="filters.event" ng-click="filterCards()" uib-btn-checkbox>Event</a>
          </li>
          <li role="menuitem">
            <a ng-model="filters.promo" ng-click="filterCards()" uib-btn-checkbox>Promo</a>
          </li>
        </ul>
      </div>

      <div class="btn-group btn-group-dropdown dropup col-xs-12 no-padding" style="margin-bottom: 10px;" uib-dropdown>
        <button type="button" class="btn btn-sm btn-info name">Subunit</button>
        <button type="button" class="btn btn-sm btn-info drop" uib-dropdown-toggle>
                    <span class="caret"></span>
                </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem">
            <a ng-model="filters.subunit" ng-click="filterCards()" uib-btn-radio="'all'">All</a>
          </li>
          <li class="divider"></li>
          <li role="menuitem">
            <a ng-model="filters.subunit" ng-click="filterCards()" uib-btn-radio="'lily white'">lily white</a>
          </li>
          <li role="menuitem">
            <a ng-model="filters.subunit" ng-click="filterCards()" uib-btn-radio="'Printemps'">Printemps</a>
          </li>
          <li role="menuitem">
            <a ng-model="filters.subunit" ng-click="filterCards()" uib-btn-radio="'BiBi'">BiBi</a>
          </li>
          <li class="divider"></li>
          <li role="menuitem">
            <a ng-model="filters.subunit" ng-click="filterCards()" uib-btn-radio="'AZALEA'">AZALEA</a>
          </li>
          <li role="menuitem">
            <a ng-model="filters.subunit" ng-click="filterCards()" uib-btn-radio="'CYaRon'">CYaRon</a>
          </li>
          <li role="menuitem">
            <a ng-model="filters.subunit" ng-click="filterCards()" uib-btn-radio="'Guilty Kiss'">Guilty Kiss</a>
          </li>
        </ul>
      </div>

      <div class="btn-group btn-group-dropdown dropup col-xs-12 no-padding" style="margin-bottom: 10px;" uib-dropdown>
        <button type="button" class="btn btn-sm btn-info name">Year</button>
        <button type="button" class="btn btn-sm btn-info drop" uib-dropdown-toggle>
                    <span class="caret"></span>
                </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem">
            <a ng-model="filters.year" ng-click="filterCards()" uib-btn-radio="'all'">All</a>
          </li>
          <li class="divider"></li>
          <li role="menuitem">
            <a ng-model="filters.year" ng-click="filterCards()" uib-btn-radio="'1'">First</a>
          </li>
          <li role="menuitem">
            <a ng-model="filters.year" ng-click="filterCards()" uib-btn-radio="'2'">Second</a>
          </li>
          <li role="menuitem">
            <a ng-model="filters.year" ng-click="filterCards()" uib-btn-radio="'3'">Third</a>
          </li>
        </ul>
      </div>

      <small class="col-xs-12">
                Showing
                <b>{{cards.length}}</b>
                of
                <b>{{ownedcards_len}}</b>
                total cards.
            </small>
    </div>
  </div>

  <div id="search_table" class="col-xs-10" bs-loading-overlay bs-loading-overlay-reference-id="sit">

    <div id="search" class="row">

      <div class="col-xs-12 no-padding">
        <div class="col-xs-7">
          <form name="username">
            <div class="form-group input-group input-group-sm" ng-class="{'has-error': (username.un.$touched && username.un.$error.required)}">
              <input type="text" class="form-control" ng-model="sit.user" name="un" placeholder="schoolido.lu username" ng-change="updateUser()" required>
              <div class="input-group-btn">
                <button type="submit" class="btn" uib-dropdown-toggle ng-disabled="username.un.$error.required || sit.user==''" ng-click="getAccounts()">
                                    Get accounts
                                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-5">
          <div class="input-group input-group-sm">
            <select class="form-control" ng-model="sit.chosenAccount" ng-blur="chooseAccount()" ng-options="acc.name for acc in sit.accounts track by acc.id"></select>
            <div class="input-group-btn">
              <button type="button" class="btn" ng-click="getCards()" ng-disabled="sit.accErr || !sit.accounts || sit.accounts.length<=1 || sit.chosenAccount.id == ''">Get cards</button>
            </div>
          </div>
        </div>
      </div>


      <div id="input" class="col-xs-12" ng-include src="'templates/input.html'">

      </div>
    </div>

    <div style="border: 1px solid #dfd7ca;border-radius: 3px;position:relative" bs-loading-overlay bs-loading-overlay-reference-id="owned">
      <div class="table-container user-table">
        <table class="table table-striped" id="tbl">
          <thead fix-head>
            <tr ng-show="filtered.length!=0">
              <th>Rank</th>
              <th>Card Name</th>
              <th>Idolized?</th>
              <th class="num-header" ng-click="sortBy('id')">ID
                <i ng-show="sort.desc && sort.type=='id'" class="fa fa-chevron-down"></i>
                <i ng-show="!sort.desc && sort.type=='id'" class="fa fa-chevron-up"></i>
              </th>
              <th class="num-header" ng-click="sortBy('stat.display')">Stat
                <span popover-append-to-body="true" popover-trigger="'mouseenter'" popover-placement="top" uib-popover="Max bond for the card's rarity and idolization status is included.">
                    <i class="fa fa-info-circle"></i>
                </span>
                <i ng-show="sort.desc && sort.type == 'stat.display'" class="fa fa-chevron-down"></i>
                <i ng-show="!sort.desc && sort.type == 'stat.display'" class="fa fa-chevron-up"></i>
              </th>
              </th>
              <th class="text-center">Skill Level</th>
              <th class="num-header" style="min-width:100px" ng-click="sortBy('skill.avg')">Skill (Avg)
                <i ng-show="sort.desc && sort.type=='skill.avg'" class="fa fa-chevron-down"></i>
                <i ng-show="!sort.desc && sort.type=='skill.avg'" class="fa fa-chevron-up"></i>
              </th>
              <th class="num-header" style="min-width:100px" ng-click="sortBy('skill.best')">Skill (Max)
                <i ng-show="sort.desc && sort.type=='skill.best'" class="fa fa-chevron-down"></i>
                <i ng-show="!sort.desc && sort.type=='skill.best'" class="fa fa-chevron-up"></i>
              </th>
              <th style="min-width: 90px">Activated By
              </th>
              <th class="num-header" style="min-width:100px" ng-click="sortBy('stat.avg')">Stat + Skill (Avg)
                <i ng-show="sort.desc && sort.type=='stat.avg'" class="fa fa-chevron-down"></i>
                <i ng-show="!sort.desc && sort.type=='stat.avg'" class="fa fa-chevron-up"></i>
              </th>
              <th class="num-header" style="min-width:100px" ng-click="sortBy('stat.best')">Stat + Skill (Max)
                <i ng-show="sort.desc && sort.type=='stat.best'" class="fa fa-chevron-down"></i>
                <i ng-show="!sort.desc && sort.type=='stat.best'" class="fa fa-chevron-up"></i>
              </th>
            </tr>
          </thead>


          <tbody>
            <tr ng-if="">
              <td>
                <b class="text-danger">Error getting accounts.</b> Check that
                <a href="http://schoolido.lu">schoolido.lu</a> is online, your username is correct, and the account you've selected has SR+ cards.</td>
            </tr>
            <tr ng-if="cards.length==0">
              <td colspan=11>Enter your
                <a href="http://schoolido.lu">schoolido.lu</a> username and press
                <b>Get Accounts</b>. Choose an account and press
                <b>Get Cards</b>.
              </td>
            </tr>

            <tr ng-if="!cards || filtered.length==0 && sit.chosenAccount.id != '' && grabbedCards">
              <td colspan=20 style="word-wrap: normal">
                <span class="text-danger">No cards found.</span>
                <a style="cursor: pointer" ng-click="resetFilters()">Reset filters?</a>
              </td>
            </tr>
            <tr ng-repeat="card in cards | orderBy:sort.type:sort.desc:true track by $index" on-complete-render="ngRepeatComplete" ng-include src="'templates/table-body.html'">
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
