.display-image {
    width: 70px;
    height: auto;
    vertical-align: middle !important;
}
.name-display {
  min-width: 70px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.num-header {
  max-width: 120px;
  cursor: pointer
}
td {
    vertical-align: middle !important;
}
.list-inline {
    display: flex;
    justify-content: space-between;
}
.btn-group-justified>.btn {
    white-space: normal !important;
    word-wrap: normal;
    overflow: hidden;
}
