.display-image {
    width: 70px;
    height: auto;
    vertical-align: middle !important;
}

.name-display {
    min-width: 70px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.num-header {
    min-width: 80px;
    cursor: pointer;
    text-align: center;
}

.score-header {
    min-width: 120px;
}

td {
    text-align: center;
    vertical-align: middle !important;
}

.btn-group-justified>.btn {
    white-space: normal !important;
    word-wrap: normal;
    overflow: hidden;
}

#tbl {
    background-color: #fff
}

.table {
    font-size: 13px;
    margin: 0px;
}

.filter-header {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #dfd7ca;
    margin: 0px;
    text-align: center;
    background-color: #f8f5f0;
    color: #98978b;
    padding: 5px 0px;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-group-justified {
    margin-bottom: 10px;
}

footer.well {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 20px;
    margin-bottom: 0px
}

.table-responsive {
    border: 1px solid #dfd7ca;
    border-radius: 3px;
}

.tab-container {
    margin-bottom: 10px;
}

.input-group select {
    height: 100%;
    width: 100%
}

.filter-group {
    padding: 0px 5px !important;
}

.loading-overlay {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}
#filters-md-screens {
  padding-right: 3%;
}
@media(min-width:992px) {
    #search_table {
        left: 16.66666667%;
        position: absolute;
    }
}

.col-md-2 {
    padding: 0px 10px;
    margin-left: 0px;
}

.col-md-2>.container-fluid>div.btn-group.btn-group-justified, .col-md-2>.container-fluid>div.btn-group-vertical {
    margin-bottom: 10px;
}

.col-md-2>.container-fluid>.filter-group>.btn>.btn-success {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-group-vertical, .col-md-2>.container-fluid>.btn-group-justified, .btn-group>.btn, .btn-group-vertical>.btn {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding {
    padding: 0px;
    margin: 0px;
}
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}
.clone {
  table-layout: fixed
}
.clone,.clone>tr,.clone>th {
  width: inherit;
  display: block;
  overflow: hidden !important;
}
